{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Enter Your Query!</h1>  
        <form method="post" action="/customer/profile">
        {% csrf_token %}
            <div class="mb-3">
            <label for="exampleInputprefftime1" class="form-label">Preffered Time Slot 1</label>
            <input type="time" class="form-control" id="exampleInputpreffTime" name="prefftime1">
            </div>
            <div class="mb-3">
                <label for="exampleInputprefftime" class="form-label">Preffered Time Slot 2</label>
                <input type="time" class="form-control" id="exampleInputpreffTime" name="prefftime2">
             </div>
            <div class="mb-3">
                <label for="exampleInputprefftime" class="form-label">Preffered Time Slot 3</label>
                <input type="time" class="form-control" id="exampleInputpreffTime" name="prefftime3">
            </div>
            <div class="mb-3">
            <label>Interested Shops</label>
            {% for shop in Shop_list %}
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{shop.name}}" aria-expanded="true" aria-controls="{{shop.name}}">
                        {{shop.name}}
                      </button>
                    </h2>
                    <div id="{{shop.name}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name={{shop.name}}>
                            <label class="form-check-label" for="flexCheckDefault">
                            {{shop.name}}
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>
            {% endfor %}
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>   
        </form>
        </div>
{% endblock body %}