{% extends 'base.html' %}

{% block title %}ShopKeeper {% endblock title %}
{% block body %}
<div class="container">
<h1 class="text-center">Registration</h1>
<form method="post" action="/customer/register">
{% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputname1" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleInputname1" name="name" placeholder="Enter Your Name">
    </div>
    <div class="mb-3">
        <label for="exampleInputcontact" class="form-label">Contact Number</label>
        <input type="number" class="form-control" id="exampleInputcontact" name="number"  placeholder="Enter Your Contact Number">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter Your Email Id">
    </div>
    <div class="mb-3">
        <label for="exampleInputprefftime" class="form-label">Preffered Time Slot</label>
        <input type="time" class="form-control" id="exampleInputpreffTime" name="prefftime">
    </div>
    <div class="mb-3">
    <label>Interested Shops</label>
    {% for shop in Shop_list %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name={{shop.name}}>
        <label class="form-check-label" for="flexCheckDefault">
          {{shop.name}}
        </label>
      </div>
    {% endfor %}
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>   
</form>
</div>
{% endblock body %}

